/** SM SCREEN */
@media screen and (min-width: 576px) {
    /* SIDEBAR */
    .sidebar {        
        flex: 0 0 230px;
    }
    .sidebar h4, .sidebar h3 {
        display: block;
    }
    .sidebar .icon {
        align-items: flex-start;
        padding-left: 20px;
    }
    .logo a:first-child {
        display: none;
    }
    .logo a:last-child {
        display: block;
    }
    .sidebar .icon .logo {
        width: 170px;
        margin-bottom: 20px;
    }
    .sidebar .icon .songs-list {
        display: block;
        margin-top: 20px;
    }
    .sidebar li .plus {
        font-size: 25px;
        flex: 0 0 40px;
        color: black;
        height: 40px;
        background-color: var(--custom-grey);
    }
    .sidebar .download p {
        display: block;
    }
    /* UI UTILS */
    .underline-170 {
        display: block;
    }
}

/** MD SCREEN */
@media screen and (min-width: 768px) {
    /* PLAYLIST */
    .playlist > div {
        max-width: calc(100% /4);
    }
    .playlist h3 {
        font-size: 12px;
        word-break: break-word;
    }
    /** FOOTER */
    .song-info .icon i:first-child {
        padding-right: 10px;
    }
    /* UTILS */
    .bar {
        width: 70%;
    }
}

/** L SCREEN */
@media screen and (min-width: 992px) {
    /* PLAYLIST */
    .playlist > div {
        max-width: calc(100% /6);
    }
}

/** XL SCREEN */
@media screen and (min-width: 1200px) {
    /* UTILS */
    .bar {
        width: 85%;
    }
}
/** BONUS HEIGHT */
@media screen and (max-height: 245px) {
    footer {
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding-top: 0;
    }
}
@media screen and (max-height: 60px) {
    footer {
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding-top: 50px
    }
}

