/*! CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow: hidden;
}

/* ? CUSTOM PROPRIERTIES */
/* COLOR PALETTE */
:root {
    --custom-blue: #141922;
    --custom-dark-grey: #282828;
    --custom-grey: #6b6b6b;
    --custom-light-grey: #808080;
    --custom-bar-grey: #c1c1c1;
    --custom-green: #adff2f;
}

/** GENERICS */
body {
    color: white;
    background-color: var(--custom-blue);
}
h2 {
    font-size: 20px;
}
a {
    text-decoration: none;
}
p {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    opacity: 0.5;
}
.btn > a {
    display: block;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 35px;
}
ul {
    list-style: none;
}
section > div:first-child {
    padding: 30px 0;
}

/** SIDEBAR */
.sidebar {
    background-color: black;
    color: var(--custom-grey);
    height: calc(100vh - 80px);
    flex: 0 0 50px;
    overflow: hidden;
}
.sidebar h4, .sidebar h3 {
    display: none;
}
.sidebar a {
    color: var(--custom-grey);
}
.sidebar a.home {
    color: white;
}
.sidebar .icon {
    align-items: center;
}
.sidebar .icon .pic {
    width: 25px;
    filter: brightness(0.8);
}
.sidebar .icon .logo {
    filter: brightness(1);
}
.logo a:last-child {
    display: none;
}
.sidebar .icon .songs-list {
    display: none;
    min-width: 100%;
}
.sidebar .songs-list li {
    padding: 8px 0;
    cursor: pointer
}
.sidebar .download p{
    display: none;
    padding-top: 0;
}
.sidebar .download figure {
    width: 25px;
}
.sidebar .download img {
    width: 80%;
}
.profile.rounded {
    background-color: var(--custom-grey);
    width: 35px;
    height: 35px;
}
.bottom.icon h3 > a {
    color: white;
}

/* OVERFLOW SIDEBAR*/
.sidebar .top.icon {
    overflow: hidden;
}
.sidebar .songs-list {
    overflow: auto;
}
/** MAIN */
.content-wrap {
    flex-basis: 100%;
    max-height: 100vh;
}
main a {
    color: white;
}

/** HEADER */
.main-header {
    background-color: rgba(0,0,0,0.6);
    height: 90px;
    position: sticky;
    top: 0;
    right: 0;
}

/* CONTENT OVERFLOW */
.content-overflow {
    height: calc(100vh - 80px);
    overflow: auto;
}

/* MENU */
.menu a {
    font-weight: bold;
    font-size: 13px;
    padding: 0 12px 20px;
    color: white;
    opacity: 0.8;
}
.menu li {
    font-weight: bold;
    font-size: 13px;
    padding: 0 12px 20px;
}

/* PLAYLIST */
/* .playlist {
    margin: 0 -15px;
} */
.playlist > div {
    max-width: calc(100% /2);
    padding: 0 15px;
    padding-bottom: 10px;
    text-align: center;
}
.playlist h3 {
    font-size: 18px;
}
.playlist img {
    max-width: 100%;
    padding-bottom: 10px;
    object-fit: cover;
}
.popoular.playlist img {
    padding-bottom: 0;
}

/** FOOTER */
footer {
    background-color: var(--custom-dark-grey);
    height: 90px;
}
footer .col {
    width: 230px;
}
footer .col.center {
    width: 50%;
}

/* SONG INFO */
.song-info {
    padding-left: 5px;
}
.song-info .icon {
    color: var(--custom-light-grey);
    padding-left: 10px;
}
.song-info figure {
    width: 50px;
    height: 50px;
}

/* SONG COMMAND */
footer span {
    font-size: 10px;
}
footer p {
    padding-top: 0;
}
footer img {
    width: 100%;
}
footer .song-command i {
    font-size: 15px;
}
footer .song-command .fa-circle-play {
    font-size: 30px;
}
footer .song-volume * {
    margin-right: 8px;
}
