/* ? COLOR PALETTE */
:root {
    --custom-blue: #141922;
    --custom-dark-grey: #282828;
    --custom-grey: #d2d2d2;
    --custom-green: #adff2f;
}
/** SIDEBAR */
.sidebar {
    background-color: black;
    flex: 0 0 50px;
    min-height: calc(100vh - 90px);
}
.sidebar > .icon {
    width: 50px;
}
.sidebar .icon > div {
    width: 35px;
    height: 35px;
}
.sidebar .icon > .playlist {
    display: none;
    color:white;
}
/** CONTAINER */
.container {
    width: 100%;
}
/** HEADER */
.main-header {
    background-color: rgba(0,0,0,0.6);
    height: 90px;
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
}
.main-btn {
    width: 220px;
    height: 45px;
}
/** FOOTER */
footer  {
    background-color: var(--custom-dark-grey);
    height: 90px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
