/* ? COLOR PALETTE */
:root {
    --custom-blue: #141922;
    --custom-dark-grey: #282828;
    --custom-grey: #d2d2d2;
    --custom-green: #adff2f;
}
/** SIDEBAR */
.sidebar {
    background-color: black;
    width: 50px;
    min-height: calc(100vh - 90px);
    float:left;
    position: fixed;
    top:0;
    left:0;
}
/** HEADER */
.main-header {
    background-color: rgba(0,0,0,0.8);
    width: calc(100% - 50px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
}
/** FOOTER */
footer  {
    background-color: var(--custom-dark-grey);
    height: 90px;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
}
