/*? UTILS */
/* BORDERS */
.brd {
    border: 2px dashed red;
}
.rounded {
    border-radius: 50%;
    overflow: hidden;
}

/* LAYOUT */
.white {
    color:white;
}
.mt-10 {
    margin-top: 10px;
}
.mr-30 {
    margin-right: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-15 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pl-15 {
    padding-left: 20px;
}
.flex {
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.g-8 {
    gap: 8px;
}
.g-15 {
    gap: 15px;
}
.g-20 {
    gap: 20px;
}
.direction-col {
    flex-direction: column;
}
.jc-start {
    justify-content: start;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: end;
}
.jc-btwn {
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-start {
    align-items: flex-start;
}
.ai-center {
    align-items: center;
}
.ai-stretch {
    align-items: stretch;
}
.p-relative {
    position:relative;
}

/* UI */
.btn {
    border: 1px solid white;
    border-radius: 40px;
    transition: transform 0.2s ease;
}
.underline-50 {
    border: 2px solid var(--custom-green);
    width: 50px;
    margin: 5px auto;
}
.underline-170 {
    display: none;
    border: 1px solid var(--custom-grey);
    width: 170px;
}
.left-line {
    border-left: 4px solid var(--custom-green);
    height: 50px;
    margin-left: -20px;
    margin-right: 16px;
}
.bar-wrap  {
    width: 100%;
}
.bar {
    display: inline-block;
    background-color: var(--custom-grey);
    width: 60%;
    height: 5px;
    border-radius: 10px;
    position: relative;
}
.bar.inside {
    background-color: var(--custom-bar-grey);
    width: 30%;
    position: absolute;
    left: 0;
}
.bar.volume {
    width: 70px;
}
.bar.inside.volume {
    width: 30px;
}

/* HOVER EFFECTS */
.btn:hover {
    transform: scale(1.1);
}
main li > a:hover {
    opacity: 1;
}
.sidebar a:hover,
.sidebar p:hover {
    color: white;
    opacity:1;
}
li:first-child:hover .plus{
    background-color: white;
}
.sidebar li:first-child:hover p{
    color: white;
    opacity: 1;
}
.playlist figure {
    position: relative;
}
.hover-play {
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
    font-size: 50px;
    position:absolute;
    width: 100%;
    top:0;
    bottom:0;

    display:none;
}
.playlist figure:hover .hover-play{
    display: flex;
    cursor:pointer;
}
.song-name:hover p {
    text-decoration: underline;
    opacity: 1;
}
.song-info .icon i:hover {
    color:white;
}
.song-command i.fa-circle-play:hover {
    transform: scale(1.2);
}
.bar:hover .inside{
    background-color: var(--custom-green);
}
.time-cursor {
    display: none;
    background-color: var(--custom-green);
    border: 4px solid white;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top:50%;
    right:0;
    transform: translate(50%, -50%);
}
.bar:hover .time-cursor{
    display: block;
}