/*! CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*? UTILS */
/* BORDERS */
.brd {
    border: 2px dashed red;
}
.rounded {
    border-radius: 50%;
    overflow: hidden;
}
/* LAYOUT */
.mr-30 {
    margin-right: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
.flex {
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.g-15 {
    gap: 15px;
}
.direction-col {
    flex-direction: column;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: end;
}
.jc-btwn {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.ai-stretch {
    align-items: stretch;
}
/* UI */
.btn {
    border: 1px solid white;
    border-radius: 40px;
}
.underline {
    border: 2px solid var(--custom-green);
    width: 50px;
    margin: 5px auto;
}
