/*? UTILS */
/* BORDERS */
.brd {
    border: 2px dashed red;
}
.rounded {
    border-radius: 50%;
    overflow: hidden;
}

/* LAYOUT */
.white {
    color:white;
}
.mt-10 {
    margin-top: 10px;
}
.mr-30 {
    margin-right: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-50 {
    margin-bottom: 50px;
}
.ml-10 {
    margin-left: 10px;
}
.flex {
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.g-8 {
    gap: 8px;
}
.g-15 {
    gap: 15px;
}
.g-20 {
    gap: 20px;
}
.direction-col {
    flex-direction: column;
}
.jc-start {
    justify-content: start;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: end;
}
.jc-btwn {
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-start {
    align-items: flex-start;
}
.ai-center {
    align-items: center;
}
.ai-stretch {
    align-items: stretch;
}

/* UI */
.btn {
    border: 1px solid white;
    border-radius: 40px;
}
.underline-50 {
    border: 2px solid var(--custom-green);
    width: 50px;
    margin: 5px auto;
}
.underline-170 {
    display: none;
    border: 1px solid var(--custom-grey);
    width: 170px;
}
.left-line {
    border-left: 4px solid var(--custom-green);
    height: 50px;
    margin-left: -20px;
    margin-right: 16px;
}
.bar-wrap  {
    width: 100%;
}
.bar {
    display: inline-block;
    background-color: var(--custom-grey);
    width: 60%;
    height: 5px;
    border-radius: 10px;
    position: relative;
}
.bar.inside {
    background-color: var(--custom-bar-grey);
    width: 30%;
    position: absolute;
    left: 0;
}
.bar.volume {
    width: 70px;
}
.bar.inside.volume {
    width: 30px;
}
